# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
fetcher

# Test binary and coverage
*.test
*.out

# Downloaded output from running the command
output.html
file.txt

# Go workspace file
go.work
go.work.sum

# Editor/OS
.DS_Store
.idea/
.vscode/
